/*Name: Pleun Bisseling
Studentnumber: 10591249*/

h1 {
	font-family: Helvetica; 
	text-align: center;
	color: black; 
}

h3 {
  font-family: Helvetica; 
  text-align: center;
  color: black;
}

p { 
	font-family: Helvetica;
	text-align: center;
	color: black;
}

a { 
  font-family: Helvetica;
  font-size: 15px;
  text-align: center;
  color: blue; 
}


svg {
  font-family: Helvetica;
  font-size: 13px;
  display: block;
  margin: auto;
}

.axis text {
  font: 12px Helvetica;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
